{% extends "base.html" %}
{% load static %}

{% block title %}Profil - ResearchTracker{% endblock %}

{% block content %}
    <div class="w-full bg-white max-w-2xl mx-auto mt-0 rounded-md shadow shadow-gray-800 p-4">
        <div class="flex items-center text-2xl font-bold mb-4 text-violet-800"><i data-feather="user"
                                                                                  class="mr-2 xl-icon feather-icon"></i>Profil
        </div>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="px-8 pt-6 pb-8 mb-4 text-md">
                <div class="flex items-center text-md text-violet-900 font-semibold mb-4"><i data-feather="info"
                                                                                             class="mr-2 sm-icon feather-icon"></i>Informations
                    Utilisateur
                </div>
                {{ user_form.as_p }}
                {{ form.media }}
                <div class="flex items-center text-md text-violet-900 font-semibold mb-4 mt-6"><i data-feather="sliders"
                                                                                                  class="mr-2 sm-icon feather-icon"></i>Préférences
                </div>
                {{ profile_form.as_p }}
                <div class="flex items-center justify-between mt-6">
                    <button class="bg-violet-800 hover:bg-violet-900 text-white font-semibold py-2 px-4 rounded"
                            type="submit">
                        Sauvegarder
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/voiceRecognition.js' %}"></script>
    <script type="module">
        document.addEventListener("DOMContentLoaded", function () {
            hideCounter();
            VoiceRecognition();
            TTS_Voice();
        });
    </script>
{% endblock %}


