{% extends "base.html" %}

{% block title %}Accueil - ResearchTracker{% endblock %}

{% block content %}
<div class="bg-white shadow rounded-lg p-6  min-h-screen">
    <h2 class="text-2xl font-bold mb-4 text-violet-800">Dernières actualités</h2>
    <div class="flex gap-y-4 ">
        {% for rss_feed in rss_feeds %}
            <div class="w-1/2 border p-4 bg-gray-100 rounded-lg shadow-md mr-3 mb-2 ">
                <p class="font-semibold text-lg text-violet-900 mb-2">{{ rss_feed.title }}</p>
                <p class="text-sm text-gray-600 break-words mb-2">{{ rss_feed.url }}</p>
                <p class="text-sm text-gray-600 ">{{ rss_feed.description }}</p>
                <a href="{% url 'rss-feed-detail' rss_feed.pk %}" class="text-md flex items-center text-violet-800 hover:underline">
                    <i data-feather="eye" class="md-icon mr-2"></i> Voir
                </a>
            </div>
        {% endfor %}
    </div>

    <h2 class="text-2xl font-bold mb-4 text-violet-800 mt-10">Publications</h2>
    <div class="flex gap-4">
        {% for publication in publications %}
            <div class="w-1/2 border p-4 bg-gray-100 rounded-lg shadow-md mr-3 ">
                <p class="text-violet-900 font-semibold text-md mb-2">{{ publication.title }}</p>
                <p class="text-sm text-gray-600">{{ publication.authors }}</p>
                <p class="text-sm text-gray-600 mb-2">{{ publication.publication_date|date:"D d M Y" }}</p>
                <a href="{% url 'publication-detail' publication.pk %}" class="text-md flex items-center text-violet-800 hover:underline">
                    <i data-feather="eye" class="md-icon mr-2"></i> Voir
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
