<!-- templates/publications/publication_details.html -->
{% extends "base.html" %}

{% block title %}Détails de la Publication - ResearchTracker{% endblock %}

{% block content %}
    <div class="container mx-auto mt-0" xmlns="http://www.w3.org/1999/html">
        <div class="bg-white shadow-md rounded p-6 text-sm">
            <nav class="flex items-center text-xl mb-6 t text-violet-600 space-x-2">
                <a href="{% url 'dashboard' %}" class="flex items-center hover:underline">
                    <i data-feather="home" class="mr-2 md-icon feather-icon"></i>Accueil</a>
                <i data-feather="chevron-right" class="mr-2 md-icon feather-icon"></i>
                <a href="{% url 'publications-list' %}" class="flex items-center hover:underline">
                    <i data-feather="list" class="mr-2 md-icon feather-icon"></i>Liste des Publications</a>
                <i data-feather="chevron-right" class="mr-2 md-icon feather-icon"></i>
                <span class="font-semibold">{{ publication.title }}</span>
            </nav>
            <p class="mb-2 text-strong">Auteurs :
                <span class="text-muted">{{ publication.authors }}</span>
            </p>

            <p class="mb-2 text-strong">Date de publication :
                <span class="text-muted">{{ publication.publication_date|date:"d F Y" }}</span>
            </p>

            <p class="mb-2 text-strong">Projet :
                <span class="text-muted">{{ publication.project }}</span>
            </p>

            <p class="mb-2 text-strong">Journal :
                <span class="text-muted">{{ publication.journal }}</span>
            </p>

            <p class="mb-2 text-strong">DOI :
                <span class="text-muted">{{ publication.doi }}</span>
            </p>

            <p class="mb-2 text-strong">Source :
                <span class="text-muted">{{ publication.get_source_display }}</span>
            </p>

            <p class="mb-2 text-strong">Date de création :
                <span class="text-muted">{{ publication.created_at|date:"d F Y à H:i" }}</span>
            </p>

            {% if publication.current_version %}
                <h2 class="text-md text-violet-900 font-semibold mt-6 mb-2">Version actuelle</h2>
                <p class="mb-2 text-strong">Titre :<span class="text-muted"> {{ publication.current_version.title }}</span></p>
                <p class="mb-2 text-strong">Auteurs :<span class="text-muted"> {{ publication.current_version.authors }}</span></p>
                <p class="mb-2 text-strong">Date de publication :<span class="text-muted">{{ publication.current_version.publication_date|date:"d F Y" }}</span></p>
                <p class="mb-2 text-strong">Journal :<span class="text-muted"> {{ publication.current_version.journal }}</span></p>
                <p class="mb-2 text-strong">DOI :<span class="text-muted"> {{ publication.current_version.doi }}</span></p>
                <p class="mb-2 text-strong">Date de création :<span class="text-muted"> {{ publication.current_version.created_at|date:"d F Y H:i" }}</span></p>

                {% if publication.current_version.media_files.exists %}
                    <h3 class="text-md  text-violet-900 font-semibold mt-4 mb-2">Fichiers média</h3>
                    <ul>
                        {% for media in publication.current_version.media_files.all %}
                            <li>
                                <a href="{{ media.file.url }}" target="_blank">{{ media.description }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if publication.versions.exists %}
                    <h3 class="text-md text-violet-900 font-semibold mt-4 mb-2">Versions</h3>
                    <ul>
                        {% for pub in publication.versions.all %}
                            <li class=" hover:text-violet-600">
                                <span class="hover:no-underline mr-2 Rev text-sm {{ pub.version }}">{{ pub.version }}</span>
                                <a class="hover:underline" href="{{ pub.file.url }}" target="_blank">{{ pub.title }}
                                    du {{ pub.created_at|date:"d F Y à H:i" }} </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
