@import './scroll.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.md-icon {
    width: 16px;
    height: 16px;
}

.lg-icon {
    width: 20px;
    height: 20px;
}

.md-avatar {
    border-radius: 50%;
    display: flex;
    height: 38px;
    width: 38px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 11px;
}

.xl-icon {
    width: 22px;
    height: 22px;
}

.sm-icon {
    width: 14px;
    height: 14px;
}

/* Style du sélecteur */
.custom-select {
    position: relative;
    display: inline-block;
    width: 200px; /* Ajustez la largeur selon vos besoins */
}

.custom-select select {
    appearance: none;
    width: 100%;
    padding: 8px 12px;
    /*border: 2px solid #e3deea; Bordure violette */
    border-radius: 0.375rem; /* Arrondir les coins */
    background-color: white; /* Fond blanc par défaut */
    color: #7c3aed; /* Texte violet par défaut */
    outline: none;
    font-size: 0.85rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 5 5-5z' fill='%237c3aed'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    padding-right: 32px; /* Pour faire de la place pour la flèche */
}

/* Style des options dans le sélecteur */
.custom-select option {
    background-color: white; /* Fond blanc par défaut */
    color: #7c3aed; /* Texte violet par défaut */
    padding: 8px 12px; /* Ajouter du padding aux options */
}

/* Style pour l'option sélectionnée */
.custom-select select option:checked {
    background-color: #7c3aed; /* Fond violet lors de la sélection */
    color: white; /* Texte blanc lors de la sélection */
}

/* Style pour l'option survolée */
.custom-select select option:hover {
    background-color: #6316e8; /* Fond violet lors du survol */
    color: white; /* Texte blanc lors du survol */
}


.custom-input {
    margin-top: 0.25rem; /* mt-1 */
    display: block; /* block */
    width: 100%; /* w-full */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* shadow-sm */
    border-radius: 0.375rem; /* rounded-md */
    border: 1px solid #cbd5e0; /* border-gray-400 */
    padding: 0.5rem; /* p-2 */
}

.custom-input:focus {
    border-color: #d4a0ff; /* focus:border-violet-300 */
    box-shadow: 0 0 0 3px rgba(222, 175, 255, 0.5); /* focus:ring-violet-200 with focus:ring-opacity-50 */
    outline: none; /* focus:outline-none */
}

