{% extends "base.html" %}
{% load static %}

{% block title %}{{ view.title }} - ResearchTracker{% endblock %}

{% block content %}
    <div class="container mx-auto mt-1 w-1/2 rounded-md bg-white shadow shadow-gray-800">
        <h1 class="text-2xl px-2 pt-4 pb-2 font-semibold text-violet-800 my-4 mx-2">{{ action }}</h1>
        <form method="post" class="space-y-4 bg-white shadow shadow-gray-800 p-4 ">
            {% csrf_token %}
            <div>
                {{ form.title }}
            </div>
            <div>
                {{ form.description|safe }}
            </div>
            <div class="mb-4 flex items-center">
                <div class="w-1/2 mr-2">
                    <label class="block text-gray-700 text-sm font-semibold mb-2" for="id_start_date">Date de
                        début</label>
                    {{ form.start_date }}
                </div>
                <div class="w-1/2">
                    <label class="block text-gray-700 text-sm font-semibold mb-2" for="id_end_date">Date de fin</label>
                    {{ form.end_date }}
                </div>
            </div>
            <div>
                {{ form.status }}
            </div>
            <div class="flex justify-between">
                <button type="submit" class="btn-save">
                    Enregistrer
                </button>
                <a href="{% url 'project-list' %}" class="btn-cancel">
                    Annuler
                </a>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/voiceRecognition.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            hideCounter();
            VoiceRecognition();
            TTS_Voice();
        });
    </script>
{% endblock %}
