{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/tailwind.output.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <title>{% block title %}ResearchTracker{% endblock %}</title>
    <style>
        .body-bg {
            background-image: url("{% static 'img/body.webp' %}");
            background-size: contain;
        }
    </style>
</head>
<body class="body-bg bg-gray-500 flex flex-col min-h-screen  ">

{% include 'nav.html' %}
<!-- Main Content -->
<main class="flex-grow container mx-auto p-4 mt-20">
    {% block content %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="bg-gradient-to-r from-purple-800 via-violet-800 to-purple-800 text-white p-4 text-center">
    &copy; 2024 ResearchTracker. All rights reserved.
</footer>

<script>
    feather.replace();
</script>
<script>
    document.getElementById('menu-button').addEventListener('click', function () {
        var dropdown = document.getElementById('menu-dropdown');
        if (dropdown.classList.contains('hidden')) {
            dropdown.classList.remove('hidden');
        } else {
            dropdown.classList.add('hidden');
        }
    });
</script>
{% block js %}
{% endblock %}
</body>
</html>
