{% extends "base.html" %}

{% block content %}
    <div class="flex gap-4 mt-2" >
        <div class="w-1/2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.357395252585!2d4.812566611638844!3d43.64073207098223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b609635cc559e9%3A0xd8e93ba691813410!2s5%20Rue%20de%20la%20Laure%2C%2013310%20Saint-Martin-de-Crau!5e0!3m2!1sfr!2sfr!4v1718282982593!5m2!1sfr!2sfr"
                    class="w-full rounded shadow shadow-gray-800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="mt-3 rounded link-socials bg-violet-700 text-white p-2 pl-3 shadow shadow-gray-800">

                <h3 class="font-semibold mb-3">Suivez-nous sur les réseaux sociaux :</h3>
                <a class="flex items-center text-sm mb-2 hover:underline" href="https://github.com/pat13310/ResearchTracker" target="_blank">
                    <i class="sm-icon mr-2" data-feather="github"></i> ResearchTracker
                </a>
                <a class="flex items-center text-sm mb-2 hover:underline" href="https://facebook.com/yourusername" target="_blank">
                    <i class="sm-icon mr-2" data-feather="facebook"></i> ResearchTracker
                </a>
                <a class="flex items-center text-sm mb-2 hover:underline" href="https://www.linkedin.com/in/perrine-lambert" target="_blank">
                    <i class="sm-icon mr-2" data-feather="linkedin"></i> Perrine
                </a>

            </div>
        </div>
        <div class="w-1/2 bg-white rounded shadow shadow-gray-800 p-4">
            <h1 class="flex items-center text-center text-2xl text-violet-600 font-semibold mb-4 "><i class="mr-2 "
                                                                                                      data-feather="mail"></i>Contact
            </h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="mt-2 p-2 px-5  bg-violet-500 text-white rounded hover:bg-violet-900" type="submit">
                    Envoyer
                </button>
            </form>
        </div>

    </div>


{% endblock %}
